.container {
    display: grid;
    grid-template-areas:
        '. . .'
        '. project .'
        '. . nav';
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 13% 74% 13%;
    height: 100%;
    opacity: 1;
    position: relative;
    width: 100%;
    z-index: 2;

    &.container-opacity-down {
        opacity: 0.1;
    }

    @include respond(tablet) {
        grid-template-areas:
            '. . .'
            '. project .'
            '. nav nav';
        grid-template-columns: 25% 50% 25%;
    }

    @include respond(mobile) {
            grid-template-areas:
                '. . .'
                '. project .'
                'nav nav nav';
            grid-template-columns: 20% 60% 20%;
            grid-template-rows: 10% 80% 10%;
            overflow: hidden;
        }
}
