.container__mobile__message {
    align-items: center;
    background-color: $yellow;
    border: 1px solid $violet;
    display: none;
    height: calc( 50% - #{$unit} );
    justify-content: center;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc( 100% - #{$unit} );
    z-index: 3;

    @include respond(tablet) {
        display: none; //flex;
    }

    h4 {
        color: $violet;
        font-family: $f_s;
    }
}
