$color: #000;
$background: #fff;
$yellow: #FFF771;
$violet: #7700FF;
$unit: 30px;
$unit2: 36px;
$f_p: 'Archivo Narrow', sans-serif;
$f_p-b: 'Archivo Narrow Bold', sans-serif;
$f_s: 'Source Code Pro', sans-serif;
$title: 0.882352941rem;
$p: 0.647058824rem;
$nav: 0.93751rem;
